html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #aaa;
}

body {
	overflow-y: scroll;
}

div.ircms_wrap {
	max-width: 1000px;
	margin: 0px auto;
	background-color: #fff;
}