<?php
	/**
	 * Configuration file, edit the content to change the behavior of the framework
	 */

	/**
	 * Debug mode, increase the verbosity and disable page optimization.
	 */
	define('IRCMS_CONF_DEBUG', false);

	/**
	 * The path of the cache.
	 * If unset the cache is disable. If set but the location does not exsits, automatically create it.
	 * The path is relative to the root directory of IRCMS.
	 */
	define('IRCMS_CONF_CACHE', '.cache/');

	/**
	 * Cache validy in second, after this time, if not touched, the garbage collector will delete the entry.
	 */
	define('IRCMS_CONF_CACHE_TIME', 3600 * 24);

	/**
	 * Enable the admin section
	 */
	define('IRCMS_CONF_ADMIN', false);

	/**
	 * Enable the access privileges
	 */
	define('IRCMS_CONF_ACCESS', false);

	/**
	 * Path where the root of the content is located.
	 * This path is relative to the location where the .ircms folder is located.
	 */
	define('IRCMS_CONF_DATA', './');

	/**
	 * The theme of the framework, this is used for predefined page content such as the admin area or
	 * errors and so on.
	 */
	define('IRCMS_CONF_THEME', '.ircms/theme/default');

	/**
	 * Set a custom routing script. It takes into argument the path of the script.
	 * Note, the script can use the global variable $apps whcih is an instance of
	 * the class Routing tyo set its configuration.
	 * If the defines evaluates to false, then it is not set into consideration.
	 */
	define('IRCMS_CONF_ROUTING', false);
?>